unsafe-perm=true
npm_config_unsafe_perm=true
# November 17 thursday 2022 4:28 PM added to fix package issues
# https://app.circleci.com/pipelines/github/policyme/life-webapp-main/9397/workflows/fb155175-0a8d-44c7-904f-cdc2c5ada60a/jobs/35673
legacy-peer-deps=true
# needed to download PM private npm package(s)
//registry.npmjs.org/:_authToken=${NPM_PRIVATE_TOKEN}
