=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(fade-in)
  0%
    opacity: 0
    transform: translateY(1rem)
  100%
    opacity: 1
    transform: translateY(0)

+keyframes (spin)
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
