$color-dark-blue: #000000
$color-light-blue: #1bb0db

$color-green-1: hsl(136, 81%, 10%)
$color-green-2: hsl(136, 47%, 48%)
$color-green-3: hsl(136, 47%, 48%)
$color-green-4: hsl(136, 47%, 48%)
$color-green-5: hsl(136, 47%, 48%)
$color-green-6: hsl(136, 47%, 48%)
$color-green-7: hsl(136, 47%, 48%)
$color-green-8: hsl(136, 47%, 48%)
$color-green-9: hsl(136, 100%, 97%)
