@import 'palette'

$brand-primary: $color-light-blue
$brand-secondary: $color-dark-blue

$prussian-blue: #004f78
$light-blue: #f5feff
$lighter-blue: #e6f9ff
$border-blue: #89d6ec
$link-blue: #086382
$header-blue: #ccf2ff

$white: #ffffff
$black: #192B3A
$grey: #5f7987
$dark-blue-grey: #192b3a
$med-grey: #687076
$light-grey: #d9d9d9
$shadow-grey: #004f7814
$shadow-cream: #e3dad166
$light-brown: #fcf2e8
$lighter-brown: #fffcfa

$rounded: .25rem
$super-rounded: .5rem
$pill: 100px
$straight: 0

